<div>
  <%= render 'shared/header' %>
</div>
<div class="container list-articles">
  <%= render @articles %>
  <%= paginate @articles %>
</div>

<script>
    $(document).ready(function () {
        $('.input').keypress(function (e) {
            if (e.which === 13) {
                $(this).parent().submit();
            }
        });
    })
</script>

